<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>765735593638-75af0n3p57eus7e061e1jkio2i323sqi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.765735593638-75af0n3p57eus7e061e1jkio2i323sqi</string>
	<key>API_KEY</key>
	<string>AIzaSyAlto6IVaQjbAzoCCJ3XHDm562XsbIFKBI</string>
	<key>GCM_SENDER_ID</key>
	<string>765735593638</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>basak.E-commerce</string>
	<key>PROJECT_ID</key>
	<string>caseapp-a7b34</string>
	<key>STORAGE_BUCKET</key>
	<string>caseapp-a7b34.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:765735593638:ios:3253958e49e331b880f667</string>
	<key>DATABASE_URL</key>
	<string>https://caseapp-a7b34-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>